/* the reset selector*/
* {
	margin: 0;
	padding: 0; 
}

header img {
	float: left;
	padding: 0 30px;
	display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
